*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 100%;
    height: 99px;
    display: flex;
    justify-content: space-between;
    background: #00AF1C;
    padding: 20px 30px;
    align-items: center;
    color: white;
}

span{
    font-size: 25px;
}

header ul{
    display: flex;
    list-style: none;
}

header ul li{
    margin: 0 15px;
    font-size: 20px;
}

section{
    padding: 50px 30px;
}

section h2{
    margin-bottom: 10px;
}

.imagenes{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

.parrafo{
    margin-top: 15px;
}

ul{
    margin-left: 60px;
}
ul li{
    margin: 5px 0;
}

article{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 45em;
    padding: 50px 30px;
}

article h3{
    font-size: 25px;
    margin-bottom: 20px;
}

form{
    margin-top: 30px;
}

form input{
    display: block;
    width: 100%;
    height: 80px;
    margin-bottom: 25px;
    padding: 0 20px;
}
form .detalle{
    height: 13em;
}

textarea{
    display: block;
    width: 100%;
    height: 13em;
    padding: 0 20px;
    padding-top: 20px;
    resize: none;
}

article a{
    border: solid greenyellow;
    width: 10%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    margin-top: 20px;
    text-decoration: none;
    color: black;
}

footer{
    width: 100%;
    height: 99px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #00AF1C;
    padding: 20px 30px;
    align-items: center;
    color: white;
}

footer p{
    font-weight: bold;
}